body, a, p {
  font-family:'Trebuchet MS', 'San-serif', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial'
}


#nav-bar {
  background-color: #141645;
  padding: 10px;
  margin: 0;
  height: 100px;
}

.nav{
  padding: 0 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a.nav-links{
  color: whitesmoke;
  margin-top: 30px;
  text-decoration: none;
  margin-right: 500px;
  position: absolute;
  font-weight: bolder;
}


footer {
  background-color: #141645;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bolder;
}

.hometext {
  margin-left: 20px;
}

#email {
  margin-left: 700px;
  margin-bottom: 100px;
}


.formbutton {
  margin-bottom: 0px;
}

div {
  top: 300px;
}

#thanksimg {
  margin-left: 450px;
}
