body, a, p {
  font-family:'Trebuchet MS', 'San-serif', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial'
}

h1 {
  font-size: 30px;
}

p {
   font-size: 20px;
}

h1, p {
  margin-left: 50px;
  margin-right: 50px;
}

#nav-bar {
  background-image: linear-gradient(45deg, #FBD3DB, #F2D5C3, #FBF2C9, #E7EEC2, #CEECEC, #B8D8E7, #EBE0F1);
  padding: 10px;
  margin: 0;
  height: 100px;
}

.nav{
  padding: 0 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a.nav-links{
  color: black;
  margin-top: 30px;
  text-decoration: none;
  margin-right: 500px;
  position: absolute;
  font-weight: bolder;
}


footer {
  background-image: linear-gradient(45deg, #FBD3DB, #F2D5C3, #FBF2C9, #E7EEC2, #CEECEC, #B8D8E7, #EBE0F1);
  color: whitesmoke;
  text-decoration: none;
  font-weight: bolder;
}

.hometext {
  margin-left: 20px;
}

div {
  top: 300px;
}
